{% extends 'fourth_task/menu.html' %}

{% block pagename %}
Новости
{% endblock %}

{% block menu %}
{{ block.super }}
{% endblock %}

{% block content %}
    <h1>Новости</h1>
    {% for new in news %}
        <div>
            <h2>{{ new.title }}</h2>
            <p>{{ new.content }}</p>
            <p><em>{{ new.date }}</em></p>
        </div>
    {% endfor %}

    <div>
        {% if news.has_previous %}
            <a href="?page=1">« Первая</a>
            <a href="?page={{ news.previous_page_number }}">Предыдущая</a>
        {% endif %}
        <span>Страница {{ news.number }} из {{ news.paginator.num_pages }}</span>
        {% if news.has_next %}
            <a href="?page={{ news.next_page_number }}">Следующая</a>
            <a href="?page={{ news.paginator.num_pages }}">Последняя »</a>
        {% endif %}
    </div>
{% endblock %}